#navigation {
	background: @light_light_gray;
	padding:10px;
	ul {
		list-style: none;
		margin: 0;
		li {
			display: inline-block;
			margin-right:5px;
			a {
				padding:5px;
				color:@gray;
				font-size: 18px;
				&:hover {
					color: @black;
				}
			}
			&.active {
				a {
					color: @black;
				}
			}
		}
	}
}
#hero {
	background-image: url(/img/math.jpg);
	background-size: cover;
	> div {
		background-color: rgba(0, 0, 0, .3);
		color: @white;
		@media screen and (max-width: 767px) {
			background-color: rgba(0, 0, 0, .7);
		}
	}
	.logo {
		@media only screen and (min-width: 768px) and (max-width: 979px) {
			padding-top: 22px;
		}

	}
	.tagline {
		font-size: 32px;
		text-align: center;
		font-family: Helvetica;
		font-weight: 100;
		@media screen and (max-width: 767px) {
			font-size: 24px;
		}
		@media screen and (min-width: 1199px) {
			padding-top: 50px !important;
		}
	}
}
#home {
	#how-it-works {
		[data-show-html="true"] {
			cursor: pointer;
		}
		span {
			&.frac {
				cursor: pointer;
				display: inline-block;
				font-size: 11px;
				background: @light_green;
				color: @gray;
				min-width: 25px;
				height: 25px;
				padding:2px 4px;
				line-height: 21px;
				text-align: center;
				border-radius: 12px;
				margin-right: 5px;
				&.lcd {
					cursor: default;
					background: @orange;
					color: @white;
				}
			}
		}
		.column, .columns {
			padding: 0 5px;
			margin-bottom:5px;
			&:first-of-type {
				padding-left: 0;
			}
			&:last-of-type {
				padding-right: 0;
			}
			&.nest { 
				border-left: 1px solid;
				border-right: 1px solid;
				padding-right: 5px;
				padding-left: 5px;
				&:hover {
					background: @light_green;
				}
				& + .nest {
					border-left: 0;
				}
			}
			span {
				display: block;
				padding: 10px 5px;
				background-color: @light_light_gray;
				word-break:break-all;
				&:hover {
					background-color: @light_green;
					color: @gray;
				}
				span {
					display: inline;
					background: transparent;
					padding:0;
				}
			}
			.column, .columns {
				margin: 0;
				span {
					background: @light_gray;
					&:hover {
						background-color: @light_green;
						color: @gray;
					}
				}
			}
		}
	}
}