#home {
	#hero {
		background-image: url(/img/math.jpg);
		background-size: cover;
		> div {
			background-color: rgba(0, 0, 0, .3);
			color: @white;
			@media screen and (max-width: 767px) {
				background-color: rgba(0, 0, 0, .7);
			}
		}
		.logo {
			@media only screen and (min-width: 768px) and (max-width: 979px) {
				padding-top: 22px;
			}

		}
		.tagline {
			font-size: 32px;
			text-align: center;
			font-family: Helvetica;
			font-weight: 100;
			@media screen and (max-width: 767px) {
				font-size: 24px;
			}
			@media screen and (min-width: 1199px) {
				padding-top: 50px !important;
			}
		}
	}
	#how-it-works {
		.column, .columns {
			padding: 0 5px;
			margin-bottom:5px;
			&:first-of-type {
				padding-left: 0;
			}
			&:last-of-type {
				padding-right: 0;
			}
			span {
				cursor: default;
				display: block;
				padding: 10px 5px;
				background-color: @light_light_gray;
				&:hover {
					background-color: @light_green;
					color: @gray;
				}
			}
			.column, .columns {
				margin: 0;
			}
		}
	}
}