/*
	Fractional Grid system
	Created by Brian Noah brianjoshuanoah@gmail.com in partnership with Wolfram Creative
	http://www.getfractional.com/
	https://github.com/Wolfram-Creative/fractional
	Least common denominator is taken into account.
	2/4 = 1/2, so 2/4 doesn't exist.
*/
.container {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	position: relative;
	@media only screen and (min-width: 1200px) {
		width: 1170px;
	}
	@media only screen and (min-width: 980px) and (max-width: 1199px) {
		width: 960px;
	}

	@media only screen and (min-width: 768px) and (max-width: 979px) {
		width: 724px;
	}
	@media only screen and (max-width: 767px) {
		width: 100%;
	}
}

.float-fix {
	&:before {
		content: '';
		display: block;
		clear: both;
	}
	&:after {
		content: '';
		display: block;
		clear: both;
	}
}

.responsive_flex {
	display: flex;
	@media only screen and (max-width: 767px) {
		display: block;
	}
}

.small_flex {
	@media only screen and (max-width: 767px) {
		display: flex;
	}
}

.fraction (@n, @d) {
	// @n = numerator
	// @d = denominator
	width: round(100 * @n / @d * 1%, 3);
}

.whole {
	width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	position: relative;
	* {
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		position: relative;
	}
	.whole {
		width: auto;
	}
	.float-fix;
	.display_none {
		display: none;
	}
		
	//
	//	Breakpoint is 767px. 
	//	By default columns break to 100% below 767px.
	//
	//	Usage:
	//	Can be used in conjunction with small-size fraction and medium-sized fraction.
	//	<div class="one_half columns"> = <div class="one_half column">
	//	<div class="one column"> = <div class="whole column"> = <div class="full column">
	//

	//halfs
	.f1\2F 2 {
		.fraction(1, 2);
	}

	//thirds
	// 1/3
	.f1\2F 3 {
		.fraction(1, 3);
	}
	// 2/3
	.f2\2F 3 {
		.fraction(2, 3);
	}
		
	//fourths
	// 1/4
	.f1\2F 4 {
		.fraction(1, 4);
	}
	// 3/4
	.f3\2F 4 {
		.fraction(3, 4);
	}
	//fifths
	// 1/5
	.f1\2F 5 {
		.fraction(1, 5);
	}
	// 2/5
	.f2\2F 5 {
		.fraction(2, 5);
	}
	// 3/5
	.f3\2F 5 {
		.fraction(3, 5);
	}
	// 4/5
	.f4\2F 5 {
		.fraction(4, 5);
	}
	//sixths
	// 1/6
	.f1\2F 6 {
		.fraction(1, 6);
	}
	// 5/6
	.f5\2F 6 {
		.fraction(5, 6);
	}
	//sevenths
	// 1/7
	.f1\2F 7 {
		.fraction(1, 7);
	}
	// 2/7
	.f2\2F 7 {
		.fraction(2, 7);
	}
	// 3/7
	.f3\2F 7 {
		.fraction(3, 7);
	}
	// 4/7
	.f4\2F 7 {
		.fraction(4, 7);
	}
	// 5/7
	.f5\2F 7 {
		.fraction(5, 7);
	}
	// 6/7
	.f6\2F 7 {
		.fraction(6, 7);
	}
	//eighths
	// 1/8
	.f1\2F 8 {
		.fraction(1, 8);
	}
	// 3/8
	.f3\2F 8 {
		.fraction(3, 8);
	}
	// 5/8
	.f5\2F 8 {
		.fraction(5, 8);
	}
	// 7/8
	.f7\2F 8 {
		.fraction(7, 8);
	}
	//ninths
	// 1/9
	.f1\2F 9 {
		.fraction(1, 9);
	}
	// 2/9
	.f2\2F 9 {
		.fraction(2, 9);
	}
	// 4/9
	.f4\2F 9 {
		.fraction(4, 9);
	}
	// 5/9
	.f5\2F 9 {
		.fraction(5, 9);
	}
	// 7/9
	.f7\2F 9 {
		.fraction(7, 9);
	}
	// 8/9
	.f8\2F 9 {
		.fraction(8, 9);
	}
	//tenths
	// 1/10
	.f1\2F 10 {
		.fraction(1, 10);
	}
	// 3/10
	.f3\2F 10 {
		.fraction(3, 10);
	}
	// 7/10
	.f7\2F 10 {
		.fraction(7, 10);
	}
	// 9/10
	.f9\2F 10 {
		.fraction(9, 10);
	}
	//twelfths
	// 1/12
	.f1\2F 12 {
		.fraction(1, 12);
	}
	// 5/12
	.f5\2F 12 {
		.fraction(5, 12);
	}
	// 7/12
	.f7\2F 12 {
		.fraction(7, 12);
	}
	// 11/12
	.f11\2F 12 {
		.fraction(11, 12);
	}
	//whole
	.f1 {
		width: 100%;
	}


	[class*="\2F "], [class^="f1"] {
		margin: 0;
		float:left; 
		clear:none;
		min-height: 1px;

		//////

		&:last-of-type {
			float:right;
		}
		&:first-of-type {
			float:left;
		}

		&.centered {
			margin-left: auto;
			margin-right: auto;
			float: none;
		}
		&.right {
			float: right !important;
		}
		&.left {
			float: left !important;
		}
		@media only screen and (max-width : 767px) { 
				width: 100%;
		}
	}


	//
	//	Breakpoint is 767px. 
	//	By default columns break to 100% below 767px
	//	adding the following overrides layout on smaller devices
	//	to match fractions.
	//
	//	Usage:
	//	Can be used in conjunction with full-size fraction and small-fraction.
	//	<div class="one_half small_one_half columns">
	//

	.small_left {
		@media only screen and (max-width: 767px) {
			float: left  !important;
		}
	}
	.small_right {
		@media only screen and (max-width: 767px) {
			float: right  !important;
		}
	}

	// SMALL
	@media only screen and (max-width: 767px) {
		//halfs
		.f1\2F 2s {
			.fraction(1, 2);
		}

		//thirds
		// 1/3
		.f1\2F 3s {
			.fraction(1, 3);
		}
		// 2/3
		.f2\2F 3s {
			.fraction(2,3);
		}
			
		//fourths
		// 1/4
		.f1\2F 4s {
			.fraction(1, 4);
		}
		// 3/4
		.f3\2F 4s {
			.fraction(3, 4);
		}
		//fifths
		// 1/5
		.f1\2F 5s {
			.fraction(1, 5);
		}
		// 2/5
		.f2\2F 5s {
			.fraction(2, 5);
		}
		// 3/5
		.f3\2F 5s {
			.fraction(3, 5);
		}
		// 4/5
		.f4\2F 5s {
			.fraction(4, 5);
		}
		//sixths
		// 1/6
		.f1\2F 6s {
			.fraction(1, 6);
		}
		// 5/6
		.f5\2F 6s {
			.fraction(5, 6);
		}
		//sevenths
		// 1/7
		.f1\2F 7s {
			.fraction(1, 7);
		}
		// 2/7
		.f2\2F 7s {
			.fraction(2, 7);
		}
		// 3/7
		.f3\2F 7s {
			.fraction(3, 7);
		}
		// 4/7
		.f4\2F 7s {
			.fraction(4, 7);
		}
		// 5/7
		.f5\2F 7s {
			.fraction(5, 7);
		}
		// 6/7
		.f6\2F 7s {
			.fraction(6, 7);
		}
		//eighths
		// 1/8
		.f1\2F 8s {
			.fraction(1, 8);
		}
		// 3/8
		.f3\2F 8s {
			.fraction(3, 8);
		}
		// 5/8
		.f5\2F 8s {
			.fraction(5, 8);
		}
		// 7/8
		.f7\2F 8s {
			.fraction(7, 8);
		}
		//ninths
		// 1/9
		.f1\2F 9s {
			.fraction(1, 9);
		}
		// 2/9
		.f2\2F 9s {
			.fraction(2, 9);
		}
		// 4/9
		.f4\2F 9s {
			.fraction(4, 9);
		}
		// 5/9
		.f5\2F 9s {
			.fraction(5, 9);
		}
		// 7/9
		.f7\2F 9s {
			.fraction(7, 9);
		}
		// 8/9
		.f8\2F 9s {
			.fraction(8, 9);
		}
		//tenths
		// 1/10
		.f1\2F 10s {
			.fraction(1, 10);
		}
		// 3/10
		.f3\2F 10s {
			.fraction(3, 10);
		}
		// 7/10
		.f7\2F 10s {
			.fraction(7, 10);
		}
		// 9/10
		.f9\2F 10s {
			.fraction(9, 10);
		}
		//twelfths
		// 1/12
		.f1\2F 12s {
			.fraction(1, 12);
		}
		// 5/12
		.f5\2F 12s {
			.fraction(5, 12);
		}
		// 7/12
		.f7\2F 12s {
			.fraction(7, 12);
		}
		// 11/12
		.f11\2F 12s {
			.fraction(11, 12);
		}
		//whole
		.f1s {
			width: 100%;
		}
	}

	
	//
	//	Breakpoint is 480px and 767px. 
	//	By default columns break to 100% below 767px
	//	adding the following overrides layout on smaller devices
	//	to match fractions on devices bigger than 480px but smaller than 768px.
	//	
	//	Usage:
	//	Can be used in conjunction with full-size fraction and small-fraction.
	//	<div class="one_half small_one_half medium_one_third columns">
	//

	.medium_text_right {
		@media only screen and (min-width: 480px) and (max-width: 767px) {
			text-align: right !important;
		}
	}
	.medium_text_left {
		@media only screen and (min-width: 480px) and (max-width: 767px) {
			text-align: left !important;
		}
	}

	.medium_left {
		@media only screen and (min-width: 480px) and (max-width: 767px) {
			float: left !important;
		}
	}
	.medium_right {
		@media only screen and (min-width: 480px) and (max-width: 767px) {
			float: right !important;
		}
	}

	// Medium
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		//halfs
		.f1\2F 2m {
			.fraction(1, 2);
		}

		//thirds
		// 1/3
		.f1\2F 3m {
			.fraction(1, 3);
		}
		// 2/3
		.f2\2F 3m {
			.fraction(2, 3);
		}
			
		//fourths
		// 1/4
		.f1\2F 4m {
			.fraction(1, 4);
		}
		// 3/4
		.f3\2F 4m {
			.fraction(3, 4);
		}
		//fifths
		// 1/5
		.f1\2F 5m {
			.fraction(1, 5);
		}
		// 2/5
		.f2\2F 5m {
			.fraction(2, 5);
		}
		// 3/5
		.f3\2F 5m {
			.fraction(3, 5);
		}
		// 4/5
		.f4\2F 5m {
			.fraction(4, 5);
		}
		//sixths
		// 1/6
		.f1\2F 6m {
			.fraction(1, 6);
		}
		// 5/6
		.f5\2F 6m {
			.fraction(5, 6);
		}
		//sevenths
		// 1/7
		.f1\2F 7m {
			.fraction(1, 7);
		}
		// 2/7
		.f2\2F 7m {
			.fraction(2, 7);
		}
		// 3/7
		.f3\2F 7m {
			.fraction(3, 7);
		}
		// 4/7
		.f4\2F 7m {
			.fraction(4, 7);
		}
		// 5/7
		.f5\2F 7m {
			.fraction(5, 7);
		}
		// 6/7
		.f6\2F 7m {
			.fraction(6, 7);
		}
		//eighths
		// 1/8
		.f1\2F 8m {
			.fraction(1, 8);
		}
		// 3/8
		.f3\2F 8m {
			.fraction(3, 8);
		}
		// 5/8
		.f5\2F 8m {
			.fraction(5, 8);
		}
		// 7/8
		.f7\2F 8m {
			.fraction(7, 8);
		}
		//ninths
		// 1/9
		.f1\2F 9m {
			.fraction(1, 9);
		}
		// 2/9
		.f2\2F 9m {
			.fraction(2, 9);
		}
		// 4/9
		.f4\2F 9m {
			.fraction(4, 9);
		}
		// 5/9
		.f5\2F 9m {
			.fraction(5, 9);
		}
		// 7/9
		.f7\2F 9m {
			.fraction(7, 9);
		}
		// 8/9
		.f8\2F 9m {
			.fraction(8, 9);
		}
		//tenths
		// 1/10
		.f1\2F 10m {
			.fraction(1, 10);
		}
		// 3/10
		.f3\2F 10m {
			.fraction(3, 10);
		}
		// 7/10
		.f7\2F 10m {
			.fraction(7, 10);
		}
		// 9/10
		.f9\2F 10m {
			.fraction(9, 10);
		}
		//twelfths
		// 1/12
		.f1\2F 12m {
			.fraction(1, 12);
		}
		// 5/12
		.f5\2F 12m {
			.fraction(5, 12);
		}
		// 7/12
		.f7\2F 12m {
			.fraction(7, 12);
		}
		// 11/12
		.f11\2F 12m {
			.fraction(11, 12);
		}
		//whole
		.f1m {
			width: 100%;
		}
	}

	//
	//	Breakpoint is 767px to 1024. 
	//

	.medium_large_left {
		@media only screen and (min-width: 768px) and (max-width: 979px) {
			float: left !important;
		}
	}
	.medium_large_right {
		@media only screen and (min-width: 768px) and (max-width: 979px) {
			float: right !important;
		}
	}

	// Medium Large
	@media only screen and (min-width: 768px) and (max-width: 979px) {
		//halfs
		.f1\2F 2ml {
			.fraction(1, 2);
		}

		//thirds
		// 1/3
		.f1\2F 3ml {
			.fraction(1, 3);
		}
		// 2/3
		.f2\2F 3ml {
			.fraction(2, 3);
		}
			
		//fourths
		// 1/4
		.f1\2F 4ml {
			.fraction(1, 4);
		}
		// 3/4
		.f3\2F 4ml {
			.fraction(3, 4);
		}
		//fifths
		// 1/5
		.f1\2F 5ml {
			.fraction(1, 5);
		}
		// 2/5
		.f2\2F 5ml {
			.fraction(2, 5);
		}
		// 3/5
		.f3\2F 5ml {
			.fraction(3, 5);
		}
		// 4/5
		.f4\2F 5ml {
			.fraction(4, 5);
		}
		//sixths
		// 1/6
		.f1\2F 6ml {
			.fraction(1, 6);
		}
		// 5/6
		.f5\2F 6ml {
			.fraction(5, 6);
		}
		//sevenths
		// 1/7
		.f1\2F 7ml {
			.fraction(1, 7);
		}
		// 2/7
		.f2\2F 7ml {
			.fraction(2, 7);
		}
		// 3/7
		.f3\2F 7ml {
			.fraction(3, 7);
		}
		// 4/7
		.f4\2F 7ml {
			.fraction(4, 7);
		}
		// 5/7
		.f5\2F 7ml {
			.fraction(5, 7);
		}
		// 6/7
		.f6\2F 7ml {
			.fraction(6, 7);
		}
		//eighths
		// 1/8
		.f1\2F 8ml {
			.fraction(1, 8);
		}
		// 3/8
		.f3\2F 8ml {
			.fraction(3, 8);
		}
		// 5/8
		.f5\2F 8ml {
			.fraction(5, 8);
		}
		// 7/8
		.f7\2F 8ml {
			.fraction(7, 8);
		}
		//ninths
		// 1/9
		.f1\2F 9ml {
			.fraction(1, 9);
		}
		// 2/9
		.f2\2F 9ml {
			.fraction(2, 9);
		}
		// 4/9
		.f4\2F 9ml {
			.fraction(4, 9);
		}
		// 5/9
		.f5\2F 9ml {
			.fraction(5, 9);
		}
		// 7/9
		.f7\2F 9ml {
			.fraction(7, 9);
		}
		// 8/9
		.f8\2F 9ml {
			.fraction(8, 9);
		}
		//tenths
		// 1/10
		.f1\2F 10ml {
			.fraction(1, 10);
		}
		// 3/10
		.f3\2F 10ml {
			.fraction(3, 10);
		}
		// 7/10
		.f7\2F 10ml {
			.fraction(7, 10);
		}
		// 9/10
		.f9\2F 10ml {
			.fraction(9, 10);
		}
		//twelfths
		// 1/12
		.f1\2F 12ml {
			.fraction(1, 12);
		}
		// 5/12
		.f5\2F 12ml {
			.fraction(5, 12);
		}
		// 7/12
		.f7\2F 12ml {
			.fraction(7, 12);
		}
		// 11/12
		.f11\2F 12ml {
			.fraction(11, 12);
		}
		//whole
		.f1ml {
			width: 100%;
		}
	}
		
}

.left {
	float: left;
}

.right {
	float: right;
}

.large_left {
	float: left;
}

.large_right {
	float: right;
}

.italics {
	font-style: italic;
}

.text_right {
	text-align: right;
}
.text_left {
	text-align: left;
}
.text_center {
	text-align: center;
}

.uppercase {
	text-transform: uppercase;
}

.no-text {
	text-indent: -5000px;
}

.small_text_right {
	@media only screen and (max-width: 767px) {
		text-align: right !important;
	}
}
.small_text_left {
	@media only screen and (max-width: 767px) {
		text-align: left !important;
	}
}

.show_small {
	@media only screen and (max-width : 767px) { 
		display: block !important;
	}
}
.inline_block_small {
	@media only screen and (max-width : 767px) { 
		display: inline-block !important;
	}
}

.show_large {
	@media only screen and (min-width: 768px) {
		display: block;
	}
}

.hide_small {
	@media only screen and (max-width : 767px) { 
		display: none !important;
	}
}

.hide_medium {
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		display: none !important;
	}
}

.hide_large {
	@media only screen and (min-width: 768px) {
		display: none !important;
	}
}
.hide_desktop {
	@media only screen and (min-width: 980px) {
		display: none !important;
	}
}
.hide_mobile {
	@media only screen and (max-width: 979px) {
		display: none !important;
	}
}
.show_medium {
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		display: block !important;
	}
}

.show_mobile {
	@media only screen and (max-width: 979px) {
		display: block !important;
	}
}

.small_no_padding {
	@media only screen and (max-width : 767px) { 
		padding: 0 !important;
	}
}

.no_border {
	border: 0 !important;
}

.small_no_border {
	@media only screen and (max-width : 767px) { 
		border: 0 !important;
	}
}

.only_small_no_border {
	@media only screen and (max-width : 479px) { 
		border: 0 !important;
	}
}

.medium_no_border {
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		border: 0 !important;
	}
}

.large_no_border {
	@media only screen and (min-width : 767px) { 
		border: 0 !important;
	}
}
.display_none {
	display: none;
}
.display_block {
	display: block;
}
.small_display_block {
	@media only screen and (max-width : 767px) { 
		display: block;
	}
}
.medium_display_block {
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		display: block;
	}
}
.small_display_inline {
	@media only screen and (max-width : 767px) { 
		display: inline !important;
	}
}
.medium_display_inline {
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		display: inline !important;
	}
}

.display_inline_block {
	display: inline-block;
}

.display_inline_block_important {
	display: inline-block !important;
}

.v-align-top {
	vertical-align: top;
}

.v-align-middle {
	vertical-align: middle;
}

.v-align-bottom {
	vertical-align: bottom;
}

.absolute {
	position: absolute;
}

.relative {
	position: relative;
}

// Padding Sizes

.padding_0 {
	padding: 0;
}
.padding_2 {
	padding: 2px;
}
.padding_5 {
	padding: 5px;
}
.padding_10 { 
	padding: 10px;
}
.padding_15 {
	padding: 15px;
}
.padding_20 {
	padding:20px;
}
.padding_25 {
	padding:25px;
}
.padding_30 {
	padding:30px;
}
.padding_50 {
	padding:50px;
}
.padding_55 {
	padding:55px;
}
.padding_65 {
	padding:65px;
}
.padding_75 {
	padding:75px;
}
.padding_100 {
	padding:100px;
}

.pd0 {
	padding: 0;
}
.pd2 {
	padding: 2px;
}
.pd5 {
	padding: 5px;
}
.pd10 { 
	padding: 10px;
}
.pd15 {
	padding: 15px;
}
.pd20 {
	padding:20px;
}
.pd25 {
	padding:25px;
}
.pd30 {
	padding:30px;
}
.pd50 {
	padding:50px;
}
.pd55 {
	padding:55px;
}
.pd65 {
	padding:65px;
}
.pd75 {
	padding:75px;
}
.pd100 {
	padding:100px;
}

// Margin Sizes
.margin_0 {
	margin: 0;
}
.margin_5 {
	margin: 5px;
}
.margin_10 {
	margin: 10px;
}
.margin_20 {
	margin: 20px;
}
.margin_30 {
	margin: 30px;
}
.margin_50 {
	margin: 50px;
}
.mg0 {
	margin: 0;
}
.mg5 {
	margin: 5px;
}
.mg10 {
	margin: 10px;
}
.mg15 {
	margin: 10px;
}
.mg20 {
	margin: 20px;
}
.mg25 {
	margin: 20px;
}
.mg30 {
	margin: 30px;
}
.mg50 {
	margin: 50px;
}

// Padding Size overrides
.padding_0_top {
	padding-top: 0px;
}
.padding_0_right {
	padding-right: 0px;
}
.padding_0_bottom {
	padding-bottom: 0px;
}
.padding_0_left {
	padding-left: 0px;
}
.padding_2_top {
	padding-top: 2px;
}
.padding_2_right {
	padding-right: 2px;
}
.padding_2_bottom {
	padding-bottom: 2px;
}
.padding_2_left {
	padding-left: 2px;
}

.padding_5_top {
	padding-top: 5px;
}
.padding_5_right {
	padding-right: 5px;
}
.padding_5_bottom {
	padding-bottom: 5px;
}
.padding_5_left {
	padding-left: 5px;
}


.small_padding_5 {
	@media only screen and (max-width : 767px) { 
		padding: 5px;
	}
}

.padding_10_top {
	padding-top: 10px;
}
.padding_10_right {
	padding-right: 10px;
}
.padding_10_bottom {
	padding-bottom: 10px;
}
.padding_10_left {
	padding-left: 10px;
}


.small_no_margin { 
	@media only screen and (max-width : 767px) { 
		margin: 0;
	}
}
.small_padding_10 {
	@media only screen and (max-width : 767px) { 
		padding: 10px;
	}
}

.padding_15_top {
	padding-top: 15px;
}
.padding_15_right {
	padding-right: 15px;
}
.padding_15_bottom {
	padding-bottom: 15px;
}
.padding_15_left {
	padding-left: 15px;
}

.padding_20_top {
	padding-top: 20px;
}
.padding_20_right {
	padding-right: 20px;
}
.padding_20_bottom {
	padding-bottom: 20px;
}
.padding_20_left {
	padding-left: 20px;
}
.small_padding_20 {
	@media only screen and (max-width : 767px) { 
		padding: 20px;
	}
}
.small_padding_20_top {
	@media only screen and (max-width : 767px) { 
		padding-top: 20px;
	}
}

.small_padding_20 {
	@media only screen and (max-width : 767px) { 
		padding: 20px;
	}
}

.padding_25_top {
	padding-top: 25px;
}
.padding_25_right {
	padding-right: 25px;
}
.padding_25_bottom {
	padding-bottom: 25px;
}
.padding_25_left {
	padding-left: 25px; 
}
.small_padding_25 {
	@media only screen and (max-width : 767px) { 
		padding: 25px;
	}
} 
//30
.padding_30_top {
	padding-top: 30px;
}
.padding_30_right {
	padding-right: 30px;
}
.padding_30_bottom {
	padding-bottom: 30px;
}
.padding_30_left {
	padding-left: 30px;
}
.small_padding_30 {
	@media only screen and (max-width : 767px) { 
		padding: 30px;
	}
}
.small_padding_30_top {
	@media only screen and (max-width : 767px) { 
		padding-top: 30px;
	}
}
.small_padding_30 {
	@media only screen and (max-width : 767px) { 
		padding: 30px;
	}
}
.padding_50_top {
	padding-top: 50px;
}
.padding_50_right {
	padding-right: 50px;
}
.padding_50_bottom {
	padding-bottom: 50px;
}
.padding_50_left {
	padding-left: 50px;
}
.padding_55_top {
	padding-top: 55px;
}
.padding_55_right {
	padding-right: 55px;
}
.padding_55_bottom {
	padding-bottom: 55px;
}
.padding_55_left {
	padding-left: 55px;
}
.padding_65_top {
	padding-top: 65px;
}
.padding_65_right {
	padding-right: 65px;
}
.padding_65_bottom {
	padding-bottom: 65px;
}
.padding_65_left {
	padding-left: 65px;
}
.padding_75_top {
	padding-top: 75px;
}
.padding_75_right {
	padding-right: 75px;
}
.padding_75_bottom {
	padding-bottom: 75px;
}
.padding_75_left {
	padding-left: 75px;
}
.padding_100_top {
	padding-top: 100px;
}
.padding_100_right {
	padding-right: 100px;
}
.padding_100_bottom {
	padding-bottom: 100px;
}
.padding_100_left {
	padding-left: 100px;
}

// Margin Size Overrides

.margin_5_top {
	margin-top: 5px;
}
.margin_5_right {
	margin-right: 5px;
}
.margin_5_bottom {
	margin-bottom: 5px;
}
.margin_5_left {
	margin-left: 5px;
}
.margin_10_top {
	margin-top: 10px;
}
.margin_10_right {
	margin-right: 10px;
}
.margin_10_bottom {
	margin-bottom: 10px;
}
.margin_10_left {
	margin-left: 10px;
}
.margin_20_top {
	margin-top: 20px;
}
.margin_20_right {
	margin-right: 20px;
}
.margin_20_bottom {
	margin-bottom: 20px;
}
.margin_20_left {
	margin-left: 20px;
}
.margin_30_top {
	margin-top: 30px;
}
.margin_30_right {
	margin-right: 30px;
}
.margin_30_bottom {
	margin-bottom: 30px;
}
.margin_30_left {
	margin-left: 30px;
}
.margin_50_top {
	margin-top: 50px;
}
.margin_50_right {
	margin-right: 50px;
}
.margin_50_bottom {
	margin-bottom: 50px;
}
.margin_50_left {
	margin-left: 50px;
}

// Line Height

.lh5 {
	line-height: 5px;
}

.lh10 {
	line-height: 10px;
}
.lh15 {
	line-height: 15px;
}
.lh20 {
	line-height: 20px;
}
.lh25 {
	line-height: 25px;
}
.lh30 {
	line-height: 30px;
}
.lh33 {
	line-height: 33px;
}
.lh35 {
	line-height: 35px;
}
.lh40 {
	line-height: 40px;
}