/*
	Fractional Grid system
	Created by Brian Noah brianjoshuanoah@gmail.com in partnership with Wolfram Creative
	http://fractional.wolframcreative.com/
	https://github.com/Wolfram-Creative/fractional
	Least common denominator is taken into account.
	two_fourths = one_half, so two_fourths doesn't exist.
*/
.responsive_container {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	position: relative;
	@media only screen and (min-width: 1200px) {
		width: 1170px;
	}
	@media only screen and (min-width: 980px) and (max-width: 1199px) {
		width: 960px;
	}

	@media only screen and (min-width: 768px) and (max-width: 979px) {
		width: 724px;
	}
	@media only screen and (max-width: 767px) {
		width: 100%;
	}
}

.float-fix {
	&:before {
		content: '';
		display: block;
		clear: both;
	}
	&:after {
		content: '';
		display: block;
		clear: both;
	}
}

.responsive_flex {
	display: flex;
	@media only screen and (max-width: 767px) {
		display: block;
	}
}

.small_flex {
	@media only screen and (max-width: 767px) {
		display: flex;
	}
}

.fraction {
	margin: 0;
	float:left; 
	clear:none;
	min-height: 1px;

	//////

	&:last-of-type {
		float:right;
	}
	&:first-of-type {
		float:left;
	}

	&.centered {
		margin-left: auto;
		margin-right: auto;
		float: none;
	}
	&.right {
		float: right !important;
	}
	&.left {
		float: left !important;
	}
	@media only screen and (max-width : 767px) { 
			width: 100% !important;
	}
}

.fractional_row {
	width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	position: relative;
	* {
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		position: relative;
	}
	.fractional_row {
		width: auto;
	}
	.float-fix;
	.display_none {
		display: none;
	}
		
	//
	//	Breakpoint is 767px. 
	//	By default columns break to 100% below 767px.
	//
	//	Usage:
	//	Can be used in conjunction with small-size fraction and medium-sized fraction.
	//	<div class="one_half columns"> = <div class="one_half column">
	//	<div class="one column"> = <div class="whole column"> = <div class="full column">
	//

	//halfs
	.one_half {
		.fraction();
		width: 100*1/2%;
	}
	//thirds
	.one_third {
		.fraction();
		width: 100*1/3%;
	}
	.two_thirds {
		.fraction();
		width: 100*2/3%;
	}
	//fourths
	.one_fourth {
		.fraction();
		width: 100*1/4%;
	}
	.one_quarter {
		.fraction();
		width: 100*1/4%;
	}
	.three_fourths {
		.fraction();
		width: 100*3/4%;
	}
	.three_quarters {
		.fraction();
		width: 100*3/4%;
	}
	//fifths
	.one_fifth {
		.fraction();
		width: 100*1/5%;
	}
	.two_fifths {
		.fraction();
		width: 100*2/5%;
	}
	.three_fifths {
		.fraction();
		width: 100*3/5%;
	}
	.four_fifths {
		.fraction();
		width: 100*4/5%;
	}
	//sixths
	.one_sixth {
		.fraction();
		width: 100*1/6%;
	}
	.five_sixths {
		.fraction();
		width: 100*5/6%;
	}
	//sevenths
	.one_seventh {
		.fraction();
		width: 100*1/7%;
	}
	.two_sevenths {
		.fraction();
		width: 100*2/7%;
	}
	.three_sevenths {
		.fraction();
		width: 100*3/7%;
	}
	.four_sevenths {
		.fraction();
		width: 100*4/7%;
	}
	.five_sevenths {
		.fraction();
		width: 100*5/7%;
	}
	.six_sevenths {
		.fraction();
		width: 100*6/7%;
	}
	//eighths
	.one_eighth {
		.fraction();
		width: 100*1/8%;
	}
	.three_eighths {
		.fraction();
		width: 100*3/8%;
	}
	.five_eighths {
		.fraction();
		width: 100*5/8%;
	}
	.seven_eighths {
		.fraction();
		width: 100*7/8%;
	}
	//ninths
	.one_ninth {
		.fraction();
		width: 100*1/9%;
	}
	.two_ninths {
		.fraction();
		width: 100*2/9%;
	}
	.four_ninths {
		.fraction();
		width: 100*4/9%;
	}
	.five_ninths {
		.fraction();
		width: 100*5/9%;
	}
	.seven_ninths {
		.fraction();
		width: 100*7/9%;
	}
	.eight_ninths {
		.fraction();
		width: 100*8/9%;
	}

	//tenths
	.one_tenth {
		.fraction();
		width: 100*1/10%;
	}
	.three_tenths {
		.fraction();
		width: 100*3/10%;
	}
	.seven_tenths {
		.fraction();
		width: 100*7/10%;
	}
	.nine_tenths {
		.fraction();
		width: 100*9/10%;
	}
	//twelfths
	.one_twelfth {
		.fraction();
		width: 100*1/12%;
	}
	.five_twelfths {
		.fraction();
		width: 100*5/12%;
	}
	.seven_twelfths {
		.fraction();
		width: 100*7/12%;
	}
	.nine_twelfths {
		.fraction();
		width: 100*9/12%;
	}
	.eleven_twelfths {
		.fraction();
		width: 100*11/12%;
	}
	//whole
	.whole, .one, .full {
		.fraction();
		width: 100%;
	}

	//
	//	Breakpoint is 767px. 
	//	By default columns break to 100% below 767px
	//	adding the following overrides layout on smaller devices
	//	to match fractions.
	//
	//	Usage:
	//	Can be used in conjunction with full-size fraction and small-fraction.
	//	<div class="one_half small_one_half columns">
	//

	.small_left {
		.fraction();
		@media only screen and (max-width: 767px) {
			float: left  !important;
		}
	}
	.small_right {
		.fraction();
		@media only screen and (max-width: 767px) {
			float: right  !important;
		}
	}

	.small_one_half {
		.fraction();
		@media only screen and (max-width: 767px) {
			width: 100*1/2%  !important;
		}
	}
	//thirds
	.small_one_third {
		.fraction();
		@media only screen and (max-width: 767px) {
			width: 100*1/3% !important;
		}
	}
	.small_two_thirds {
		.fraction();
		@media only screen and (max-width: 767px) {
			width: 100*2/3% !important;
		}
	}
	//fourths
	.small_one_fourth {
		.fraction();
		@media only screen and (max-width: 767px) {
			width: 100*1/4% !important;
		}
	}
	.small_one_quarter {
		.fraction();
		@media only screen and (max-width: 767px) {
			width: 100*1/4% !important;
		}
	}
	.small_three_fourths {
		.fraction();
		@media only screen and (max-width: 767px) {
			width: 100*3/4% !important;
		}
	}
	.small_three_quarters {
		.fraction();
		@media only screen and (max-width: 767px) {
			width: 100*3/4% !important;
		}
	}
	//fifths
	.small_one_fifth {
		.fraction();
		@media only screen and (max-width: 767px) {
			width: 100*1/5% !important;
		}
	}
	.small_two_fifths {
		.fraction();
		@media only screen and (max-width: 767px) {
			width: 100*2/5% !important;
		}
	}
	.small_three_fifths {
		.fraction();
		@media only screen and (max-width: 767px) {
			width: 100*3/5% !important;
		}
	}
	.small_four_fifths {
		.fraction();
		@media only screen and (max-width: 767px) {
			width: 100*4/5% !important;
		}
	}
	//sixths
	.small_one_sixth {
		.fraction();
		@media only screen and (max-width: 767px) {
			width: 100*1/6% !important;
		}
	}
	.small_five_sixths {
		.fraction();
		@media only screen and (max-width: 767px) {
			width: 100*5/6% !important;
		}
	}
	//sevenths
	.small_one_seventh {
		.fraction();
		@media only screen and (max-width: 767px) {
			width: 100*1/7% !important;
		}
	}
	.small_two_sevenths {
		.fraction();
		@media only screen and (max-width: 767px) {
			width: 100*2/7% !important;
		}
	}
	.small_three_sevenths {
		.fraction();
		@media only screen and (max-width: 767px) {
			width: 100*3/7% !important;
		}
	}
	.small_four_sevenths {
		.fraction();
		@media only screen and (max-width: 767px) {
			width: 100*4/7% !important;
		}
	}
	.small_five_sevenths {
		.fraction();
		@media only screen and (max-width: 767px) {
			width: 100*5/7% !important;
		}
	}
	.small_six_sevenths {
		.fraction();
		@media only screen and (max-width: 767px) {
			width: 100*6/7% !important;
		}
	}
	//eighth
	.small_one_eighth {
		.fraction();
		@media only screen and (max-width: 767px) {
			width: 100*1/8% !important;
		}
	}
	.small_three_eighths {
		.fraction();
		@media only screen and (max-width: 767px) {
			width: 100*3/8% !important;
		}
	}
	.small_five_eighths {
		.fraction();
		@media only screen and (max-width: 767px) {
			width: 100*5/8% !important;
		}
	}
	.small_seven_eighths {
		.fraction();
		@media only screen and (max-width: 767px) {
			width: 100*7/8% !important;
		}
	}
	//ninths
	.small_one_ninth {
		.fraction();
		@media only screen and (max-width: 767px) {
			width: 100*1/9% !important;
		}
	}
	.small_two_ninths {
		.fraction();
		@media only screen and (max-width: 767px) {
			width: 100*2/9% !important;
		}
	}
	.small_four_ninths {
		.fraction();
		@media only screen and (max-width: 767px) {
			width: 100*4/9% !important;
		}
	}
	.small_five_ninths {
		.fraction();
		@media only screen and (max-width: 767px) {
			width: 100*5/9% !important;
		}
	}
	.small_seven_ninths {
		.fraction();
		@media only screen and (max-width: 767px) {
			width: 100*7/9% !important;
		}
	}
	.small_eight_ninths {
		.fraction();
		@media only screen and (max-width: 767px) {
			width: 100*8/9% !important;
		}
	}
	//tenths
	.small_one_tenth {
		.fraction();
		@media only screen and (max-width: 767px) {
			width: 100*1/10% !important;
		}
	}
	.small_three_tenths {
		.fraction();
		@media only screen and (max-width: 767px) {
			width: 100*3/10% !important;
		}
	}
	.small_seven_tenths {
		.fraction();
		@media only screen and (max-width: 767px) {
			width: 100*7/10% !important;
		}
	}
	.small_nine_tenths {
		.fraction();
		@media only screen and (max-width: 767px) {
			width: 100*9/10% !important;
		}
	}
	//twelfths
	.small_one_twelfth {
		.fraction();
		@media only screen and (max-width: 767px) {
			width: 100*1/12% !important;
		}
	}
	.small_five_twelfths {
		.fraction();
		@media only screen and (max-width: 767px) {
			width: 100*5/12% !important;
		}
	}
	.small_seven_twelfths {
		.fraction();
		@media only screen and (max-width: 767px) {
			width: 100*7/12% !important;
		}
	}
	.small_nine_twelfths {
		.fraction();
		@media only screen and (max-width: 767px) {
			width: 100*9/12% !important;
		}
	}
	.small_eleven_twelfths {
		.fraction();
		@media only screen and (max-width: 767px) {
			width: 100*11/12% !important;
		}
	}
	//whole
	.small_whole, .small_one, .small_full {
		.fraction();
		@media only screen and (max-width: 767px) {
			width: 100% !important;
		}
	}

	
	//
	//	Breakpoint is 480px and 767px. 
	//	By default columns break to 100% below 767px
	//	adding the following overrides layout on smaller devices
	//	to match fractions on devices bigger than 480px but smaller than 768px.
	//	
	//	Usage:
	//	Can be used in conjunction with full-size fraction and small-fraction.
	//	<div class="one_half small_one_half medium_one_third columns">
	//

	.medium_text_right {
		@media only screen and (min-width: 480px) and (max-width: 767px) {
			text-align: right !important;
		}
	}
	.medium_text_left {
		@media only screen and (min-width: 480px) and (max-width: 767px) {
			text-align: left !important;
		}
	}

	.medium_left {
		.fraction();
		@media only screen and (min-width: 480px) and (max-width: 767px) {
			float: left !important;
		}
	}
	.medium_right {
		.fraction();
		@media only screen and (min-width: 480px) and (max-width: 767px) {
			float: right !important;
		}
	}

	.medium_one_half {
		.fraction();
		@media only screen and (min-width: 480px) and (max-width: 767px) {
			width: 100*1/2% !important;
		}
	}
	//thirds
	.medium_one_third {
		.fraction();
		@media only screen and (min-width: 480px) and (max-width: 767px) {
			width: 100*1/3% !important;
		}
	}
	.medium_two_thirds {
		.fraction();
		@media only screen and (min-width: 480px) and (max-width: 767px) {
			width: 100*2/3% !important;
		}
	}
	//fourths
	.medium_one_fourth {
		.fraction();
		@media only screen and (min-width: 480px) and (max-width: 767px) {
			width: 100*1/4% !important;
		}
	}
	.medium_one_quarter {
		.fraction();
		@media only screen and (min-width: 480px) and (max-width: 767px) {
			width: 100*1/4% !important;
		}
	}
	.medium_three_fourths {
		.fraction();
		@media only screen and (min-width: 480px) and (max-width: 767px) {
			width: 100*3/4% !important;
		}
	}
	.medium_three_quarters {
		.fraction();
		@media only screen and (min-width: 480px) and (max-width: 767px) {
			width: 100*3/4% !important;
		}
	}
	//fifths
	.medium_one_fifth {
		.fraction();
		@media only screen and (min-width: 480px) and (max-width: 767px) {
			width: 100*1/5% !important;
		}
	}
	.medium_two_fifths {
		.fraction();
		@media only screen and (min-width: 480px) and (max-width: 767px) {
			width: 100*2/5% !important;
		}
	}
	.medium_three_fifths {
		.fraction();
		@media only screen and (min-width: 480px) and (max-width: 767px) {
			width: 100*3/5% !important;
		}
	}
	.medium_four_fifths {
		.fraction();
		@media only screen and (min-width: 480px) and (max-width: 767px) {
			width: 100*4/5% !important;
		}
	}
	//sixths
	.medium_one_sixth {
		.fraction();
		@media only screen and (min-width: 480px) and (max-width: 767px) {
			width: 100*1/6% !important;
		}
	}
	.medium_five_sixths {
		.fraction();
		@media only screen and (min-width: 480px) and (max-width: 767px) {
			width: 100*5/6% !important;
		}
	}
	//sevenths
	.medium_one_seventh {
		.fraction();
		@media only screen and (min-width: 480px) and (max-width: 767px) {
			width: 100*1/7% !important;
		}
	}
	.medium_two_sevenths {
		.fraction();
		@media only screen and (min-width: 480px) and (max-width: 767px) {
			width: 100*2/7% !important;
		}
	}
	.medium_three_sevenths {
		.fraction();
		@media only screen and (min-width: 480px) and (max-width: 767px) {
			width: 100*3/7% !important;
		}
	}
	.medium_four_sevenths {
		.fraction();
		@media only screen and (min-width: 480px) and (max-width: 767px) {
			width: 100*4/7% !important;
		}
	}
	.medium_five_sevenths {
		.fraction();
		@media only screen and (min-width: 480px) and (max-width: 767px) {
			width: 100*5/7% !important;
		}
	}
	.medium_six_sevenths {
		.fraction();
		@media only screen and (min-width: 480px) and (max-width: 767px) {
			width: 100*6/7% !important;
		}
	}
	//eighth
	.medium_one_eighth {
		.fraction();
		@media only screen and (min-width: 480px) and (max-width: 767px) {
			width: 100*1/8% !important;
		}
	}
	.medium_three_eighths {
		.fraction();
		@media only screen and (min-width: 480px) and (max-width: 767px) {
			width: 100*3/8% !important;
		}
	}
	.medium_five_eighths {
		.fraction();
		@media only screen and (min-width: 480px) and (max-width: 767px) {
			width: 100*5/8% !important;
		}
	}
	.medium_seven_eighths {
		.fraction();
		@media only screen and (min-width: 480px) and (max-width: 767px) {
			width: 100*7/8% !important;
		}
	}
	//ninths
	.medium_one_ninth {
		.fraction();
		@media only screen and (min-width: 480px) and (max-width: 767px) {
			width: 100*1/9% !important;
		}
	}
	.medium_two_ninths {
		.fraction();
		@media only screen and (min-width: 480px) and (max-width: 767px) {
			width: 100*2/9% !important;
		}
	}
	.medium_four_ninths {
		.fraction();
		@media only screen and (min-width: 480px) and (max-width: 767px) {
			width: 100*4/9% !important;
		}
	}
	.medium_five_ninths {
		.fraction();
		@media only screen and (min-width: 480px) and (max-width: 767px) {
			width: 100*5/9% !important;
		}
	}
	.medium_seven_ninths {
		.fraction();
		@media only screen and (min-width: 480px) and (max-width: 767px) {
			width: 100*7/9% !important;
		}
	}
	.medium_eight_ninths {
		.fraction();
		@media only screen and (min-width: 480px) and (max-width: 767px) {
			width: 100*8/9% !important;
		}
	}
	//tenths
	.medium_one_tenth {
		.fraction();
		@media only screen and (min-width: 480px) and (max-width: 767px) {
			width: 100*1/10% !important;
		}
	}
	.medium_three_tenths {
		.fraction();
		@media only screen and (min-width: 480px) and (max-width: 767px) {
			width: 100*3/10% !important;
		}
	}
	.medium_seven_tenths {
		.fraction();
		@media only screen and (min-width: 480px) and (max-width: 767px) {
			width: 100*7/10% !important;
		}
	}
	.medium_nine_tenths {
		.fraction();
		@media only screen and (min-width: 480px) and (max-width: 767px) {
			width: 100*9/10% !important;
		}
	}
	//twelfths
	.medium_one_twelfth {
		.fraction();
		@media only screen and (min-width: 480px) and (max-width: 767px) {
			width: 100*1/12% !important;
		}
	}
	.medium_five_twelfths {
		.fraction();
		@media only screen and (min-width: 480px) and (max-width: 767px) {
			width: 100*5/12% !important;
		}
	}
	.medium_seven_twelfths {
		.fraction();
		@media only screen and (min-width: 480px) and (max-width: 767px) {
			width: 100*7/12% !important;
		}
	}
	.medium_nine_twelfths {
		.fraction();
		@media only screen and (min-width: 480px) and (max-width: 767px) {
			width: 100*9/12% !important;
		}
	}
	.medium_eleven_twelfths {
		.fraction();
		@media only screen and (min-width: 480px) and (max-width: 767px) {
			width: 100*11/12% !important;
		}
	}
	//whole
	.medium_whole, .medium_one, .medium_full {
		.fraction();
		@media only screen and (min-width: 480px) and (max-width: 767px) {
			width: 100% !important;
		}
	}

	//
	//	Breakpoint is 767px to 1024. 
	//

	.medium_large_left {
		.fraction();

		@media only screen and (min-width: 768px) and (max-width: 979px) {
			float: left !important;
		}
	}
	.medium_large_right {
		.fraction();
		@media only screen and (min-width: 768px) and (max-width: 979px) {
			float: right !important;
		}
	}

	.medium_large_one_half {
		.fraction();
		@media only screen and (min-width: 768px) and (max-width: 979px) {
			width: 100*1/2% !important;
		}
	}
	//thirds
	.medium_large_one_third {
		.fraction();
		@media only screen and (min-width: 768px) and (max-width: 979px) {
			width: 100*1/3% !important;
		}
	}
	.medium_large_two_thirds {
		.fraction();
		@media only screen and (min-width: 768px) and (max-width: 979px) {
			width: 100*2/3% !important;
		}
	}
	//fourths
	.medium_large_one_fourth {
		.fraction();
		@media only screen and (min-width: 768px) and (max-width: 979px) {
			width: 100*1/4% !important;
		}
	}
	.medium_large_one_quarter {
		.fraction();
		@media only screen and (min-width: 768px) and (max-width: 979px) {
			width: 100*1/4% !important;
		}
	}
	.medium_large_three_fourths {
		.fraction();
		@media only screen and (min-width: 768px) and (max-width: 979px) {
			width: 100*3/4% !important;
		}
	}
	.medium_large_three_quarters {
		.fraction();
		@media only screen and (min-width: 768px) and (max-width: 979px) {
			width: 100*3/4% !important;
		}
	}
	//fifths
	.medium_large_one_fifth {
		.fraction();
		@media only screen and (min-width: 768px) and (max-width: 979px) {
			width: 100*1/5% !important;
		}
	}
	.medium_large_two_fifths {
		.fraction();
		@media only screen and (min-width: 768px) and (max-width: 979px) {
			width: 100*2/5% !important;
		}
	}
	.medium_large_three_fifths {
		.fraction();
		@media only screen and (min-width: 768px) and (max-width: 979px) {
			width: 100*3/5% !important;
		}
	}
	.medium_large_four_fifths {
		.fraction();
		@media only screen and (min-width: 768px) and (max-width: 979px) {
			width: 100*4/5% !important;
		}
	}
	//sixths
	.medium_large_one_sixth {
		.fraction();
		@media only screen and (min-width: 768px) and (max-width: 979px) {
			width: 100*1/6% !important;
		}
	}
	.medium_large_five_sixths {
		.fraction();
		@media only screen and (min-width: 768px) and (max-width: 979px) {
			width: 100*5/6% !important;
		}
	}
	//sevenths
	.medium_large_one_seventh {
		.fraction();
		@media only screen and (min-width: 768px) and (max-width: 979px) {
			width: 100*1/7% !important;
		}
	}
	.medium_large_two_sevenths {
		.fraction();
		@media only screen and (min-width: 768px) and (max-width: 979px) {
			width: 100*2/7% !important;
		}
	}
	.medium_large_three_sevenths {
		.fraction();
		@media only screen and (min-width: 768px) and (max-width: 979px) {
			width: 100*3/7% !important;
		}
	}
	.medium_large_four_sevenths {
		.fraction();
		@media only screen and (min-width: 768px) and (max-width: 979px) {
			width: 100*4/7% !important;
		}
	}
	.medium_large_five_sevenths {
		.fraction();
		@media only screen and (min-width: 768px) and (max-width: 979px) {
			width: 100*5/7% !important;
		}
	}
	.medium_large_six_sevenths {
		.fraction();
		@media only screen and (min-width: 768px) and (max-width: 979px) {
			width: 100*6/7% !important;
		}
	}
	//eighth
	.medium_large_one_eighth {
		.fraction();
		@media only screen and (min-width: 768px) and (max-width: 979px) {
			width: 100*1/8% !important;
		}
	}
	.medium_large_three_eighths {
		.fraction();
		@media only screen and (min-width: 768px) and (max-width: 979px) {
			width: 100*3/8% !important;
		}
	}
	.medium_large_five_eighths {
		.fraction();
		@media only screen and (min-width: 768px) and (max-width: 979px) {
			width: 100*5/8% !important;
		}
	}
	.medium_large_seven_eighths {
		.fraction();
		@media only screen and (min-width: 768px) and (max-width: 979px) {
			width: 100*7/8% !important;
		}
	}
	//ninths
	.medium_large_one_ninth {
		.fraction();
		@media only screen and (min-width: 768px) and (max-width: 979px) {
			width: 100*1/9% !important;
		}
	}
	.medium_large_two_ninths {
		.fraction();
		@media only screen and (min-width: 768px) and (max-width: 979px) {
			width: 100*2/9% !important;
		}
	}
	.medium_large_four_ninths {
		.fraction();
		@media only screen and (min-width: 768px) and (max-width: 979px) {
			width: 100*4/9% !important;
		}
	}
	.medium_large_five_ninths {
		.fraction();
		@media only screen and (min-width: 768px) and (max-width: 979px) {
			width: 100*5/9% !important;
		}
	}
	.medium_large_seven_ninths {
		.fraction();
		@media only screen and (min-width: 768px) and (max-width: 979px) {
			width: 100*7/9% !important;
		}
	}
	.medium_large_eight_ninths {
		.fraction();
		@media only screen and (min-width: 768px) and (max-width: 979px) {
			width: 100*8/9% !important;
		}
	}
	//tenths
	.medium_large_one_tenth {
		.fraction();
		@media only screen and (min-width: 768px) and (max-width: 979px) {
			width: 100*1/10% !important;
		}
	}
	.medium_large_three_tenths {
		.fraction();
		@media only screen and (min-width: 768px) and (max-width: 979px) {
			width: 100*3/10% !important;
		}
	}
	.medium_large_seven_tenths {
		.fraction();
		@media only screen and (min-width: 768px) and (max-width: 979px) {
			width: 100*7/10% !important;
		}
	}
	.medium_large_nine_tenths {
		.fraction();
		@media only screen and (min-width: 768px) and (max-width: 979px) {
			width: 100*9/10% !important;
		}
	}
	//twelfths
	.medium_large_one_twelfth {
		.fraction();
		@media only screen and (min-width: 768px) and (max-width: 979px) {
			width: 100*1/12% !important;
		}
	}
	.medium_large_five_twelfths {
		.fraction();
		@media only screen and (min-width: 768px) and (max-width: 979px) {
			width: 100*5/12% !important;
		}
	}
	.medium_large_seven_twelfths {
		.fraction();
		@media only screen and (min-width: 768px) and (max-width: 979px) {
			width: 100*7/12% !important;
		}
	}
	.medium_large_nine_twelfths {
		.fraction();
		@media only screen and (min-width: 768px) and (max-width: 979px) {
			width: 100*9/12% !important;
		}
	}
	.medium_large_eleven_twelfths {
		.fraction();
		@media only screen and (min-width: 768px) and (max-width: 979px) {
			width: 100*11/12% !important;
		}
	}
	//whole
	.medium_large_whole, .medium_large_one, .medium_large_full {
		.fraction();
		@media only screen and (min-width: 768px) and (max-width: 979px) {
			width: 100% !important;
		}
	}


		
	&.large_break {
		@media only screen and (min-width : 767px) { 
			.columns, .column {
				float:none;
				width:auto;
			}
			&:before {
				display: none;
			}
			&:after {
				display: none;
			}
		}
	}
}

.left {
	float: left;
}

.right {
	float: right;
}

.large_left {
	float: left;
}

.large_right {
	float: right;
}

.italics {
	font-style: italic;
}

.text_right {
	text-align: right;
}
.text_left {
	text-align: left;
}
.text_center {
	text-align: center;
}

.uppercase {
	text-transform: uppercase;
}

.no-text {
	text-indent: -5000px;
}

.small_text_right {
	@media only screen and (max-width: 767px) {
		text-align: right !important;
	}
}
.small_text_left {
	@media only screen and (max-width: 767px) {
		text-align: left !important;
	}
}

.show_small {
	@media only screen and (max-width : 767px) { 
		display: block !important;
	}
}
.inline_block_small {
	@media only screen and (max-width : 767px) { 
		display: inline-block !important;
	}
}

.show_large {
	@media only screen and (min-width: 768px) {
		display: block;
	}
}

.hide_small {
	@media only screen and (max-width : 767px) { 
		display: none !important;
	}
}

.hide_medium {
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		display: none !important;
	}
}

.hide_large {
	@media only screen and (min-width: 768px) {
		display: none !important;
	}
}
.hide_desktop {
	@media only screen and (min-width: 980px) {
		display: none !important;
	}
}
.hide_mobile {
	@media only screen and (max-width: 979px) {
		display: none !important;
	}
}
.show_medium {
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		display: block !important;
	}
}

.show_mobile {
	@media only screen and (max-width: 979px) {
		display: block !important;
	}
}

.small_no_padding {
	@media only screen and (max-width : 767px) { 
		padding: 0 !important;
	}
}

.no_border {
	border: 0 !important;
}

.small_no_border {
	@media only screen and (max-width : 767px) { 
		border: 0 !important;
	}
}

.only_small_no_border {
	@media only screen and (max-width : 479px) { 
		border: 0 !important;
	}
}

.medium_no_border {
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		border: 0 !important;
	}
}

.large_no_border {
	@media only screen and (min-width : 767px) { 
		border: 0 !important;
	}
}
.display_none {
	display: none;
}
.display_block {
	display: block;
}
.small_display_block {
	@media only screen and (max-width : 767px) { 
		display: block;
	}
}
.medium_display_block {
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		display: block;
	}
}
.small_display_inline {
	@media only screen and (max-width : 767px) { 
		display: inline !important;
	}
}
.medium_display_inline {
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		display: inline !important;
	}
}

.display_inline_block {
	display: inline-block;
}

.display_inline_block_important {
	display: inline-block !important;
}

.v-align-top {
	vertical-align: top;
}

.v-align-middle {
	vertical-align: middle;
}

.v-align-bottom {
	vertical-align: bottom;
}

.absolute {
	position: absolute;
}

.relative {
	position: relative;
}

// Padding Sizes

.padding_0 {
	padding: 0;
}
.padding_2 {
	padding: 2px;
}
.padding_5 {
	padding: 5px;
}
.padding_10 { 
	padding: 10px;
}
.padding_15 {
	padding: 15px;
}
.padding_20 {
	padding:20px;
}
.padding_25 {
	padding:25px;
}
.padding_30 {
	padding:30px;
}
.padding_50 {
	padding:50px;
}
.padding_55 {
	padding:55px;
}
.padding_65 {
	padding:65px;
}
.padding_75 {
	padding:75px;
}
.padding_100 {
	padding:100px;
}

// Margin Sizes
.margin_0 {
	margin: 0;
}
.margin_5 {
	margin: 5px;
}
.margin_10 {
	margin: 10px;
}
.margin_20 {
	margin: 20px;
}
.margin_30 {
	margin: 30px;
}
.margin_50 {
	margin: 50px;
}

// Padding Size overrides
.padding_0_top {
	padding-top: 0px;
}
.padding_0_right {
	padding-right: 0px;
}
.padding_0_bottom {
	padding-bottom: 0px;
}
.padding_0_left {
	padding-left: 0px;
}
.padding_2_top {
	padding-top: 2px;
}
.padding_2_right {
	padding-right: 2px;
}
.padding_2_bottom {
	padding-bottom: 2px;
}
.padding_2_left {
	padding-left: 2px;
}

.padding_5_top {
	padding-top: 5px;
}
.padding_5_right {
	padding-right: 5px;
}
.padding_5_bottom {
	padding-bottom: 5px;
}
.padding_5_left {
	padding-left: 5px;
}


.small_padding_5 {
	@media only screen and (max-width : 767px) { 
		padding: 5px;
	}
}

.padding_10_top {
	padding-top: 10px;
}
.padding_10_right {
	padding-right: 10px;
}
.padding_10_bottom {
	padding-bottom: 10px;
}
.padding_10_left {
	padding-left: 10px;
}


.small_no_margin { 
	@media only screen and (max-width : 767px) { 
		margin: 0;
	}
}
.small_padding_10 {
	@media only screen and (max-width : 767px) { 
		padding: 10px;
	}
}

.padding_15_top {
	padding-top: 15px;
}
.padding_15_right {
	padding-right: 15px;
}
.padding_15_bottom {
	padding-bottom: 15px;
}
.padding_15_left {
	padding-left: 15px;
}

.padding_20_top {
	padding-top: 20px;
}
.padding_20_right {
	padding-right: 20px;
}
.padding_20_bottom {
	padding-bottom: 20px;
}
.padding_20_left {
	padding-left: 20px;
}
.small_padding_20 {
	@media only screen and (max-width : 767px) { 
		padding: 20px;
	}
}
.small_padding_20_top {
	@media only screen and (max-width : 767px) { 
		padding-top: 20px;
	}
}

.small_padding_20 {
	@media only screen and (max-width : 767px) { 
		padding: 20px;
	}
}

.padding_25_top {
	padding-top: 25px;
}
.padding_25_right {
	padding-right: 25px;
}
.padding_25_bottom {
	padding-bottom: 25px;
}
.padding_25_left {
	padding-left: 25px; 
}
.small_padding_25 {
	@media only screen and (max-width : 767px) { 
		padding: 25px;
	}
} 
//30
.padding_30_top {
	padding-top: 30px;
}
.padding_30_right {
	padding-right: 30px;
}
.padding_30_bottom {
	padding-bottom: 30px;
}
.padding_30_left {
	padding-left: 30px;
}
.small_padding_30 {
	@media only screen and (max-width : 767px) { 
		padding: 30px;
	}
}
.small_padding_30_top {
	@media only screen and (max-width : 767px) { 
		padding-top: 30px;
	}
}
.small_padding_30 {
	@media only screen and (max-width : 767px) { 
		padding: 30px;
	}
}
.padding_50_top {
	padding-top: 50px;
}
.padding_50_right {
	padding-right: 50px;
}
.padding_50_bottom {
	padding-bottom: 50px;
}
.padding_50_left {
	padding-left: 50px;
}
.padding_55_top {
	padding-top: 55px;
}
.padding_55_right {
	padding-right: 55px;
}
.padding_55_bottom {
	padding-bottom: 55px;
}
.padding_55_left {
	padding-left: 55px;
}
.padding_65_top {
	padding-top: 65px;
}
.padding_65_right {
	padding-right: 65px;
}
.padding_65_bottom {
	padding-bottom: 65px;
}
.padding_65_left {
	padding-left: 65px;
}
.padding_75_top {
	padding-top: 75px;
}
.padding_75_right {
	padding-right: 75px;
}
.padding_75_bottom {
	padding-bottom: 75px;
}
.padding_75_left {
	padding-left: 75px;
}
.padding_100_top {
	padding-top: 100px;
}
.padding_100_right {
	padding-right: 100px;
}
.padding_100_bottom {
	padding-bottom: 100px;
}
.padding_100_left {
	padding-left: 100px;
}

// Margin Size Overrides

.margin_5_top {
	margin-top: 5px;
}
.margin_5_right {
	margin-right: 5px;
}
.margin_5_bottom {
	margin-bottom: 5px;
}
.margin_5_left {
	margin-left: 5px;
}
.margin_10_top {
	margin-top: 10px;
}
.margin_10_right {
	margin-right: 10px;
}
.margin_10_bottom {
	margin-bottom: 10px;
}
.margin_10_left {
	margin-left: 10px;
}
.margin_20_top {
	margin-top: 20px;
}
.margin_20_right {
	margin-right: 20px;
}
.margin_20_bottom {
	margin-bottom: 20px;
}
.margin_20_left {
	margin-left: 20px;
}
.margin_30_top {
	margin-top: 30px;
}
.margin_30_right {
	margin-right: 30px;
}
.margin_30_bottom {
	margin-bottom: 30px;
}
.margin_30_left {
	margin-left: 30px;
}
.margin_50_top {
	margin-top: 50px;
}
.margin_50_right {
	margin-right: 50px;
}
.margin_50_bottom {
	margin-bottom: 50px;
}
.margin_50_left {
	margin-left: 50px;
}

// Line Height

.lh5 {
	line-height: 5px;
}

.lh10 {
	line-height: 10px;
}
.lh15 {
	line-height: 15px;
}
.lh20 {
	line-height: 20px;
}
.lh25 {
	line-height: 25px;
}
.lh30 {
	line-height: 30px;
}
.lh33 {
	line-height: 33px;
}
.lh35 {
	line-height: 35px;
}
.lh40 {
	line-height: 40px;
}